# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Production build artifacts
dist/
dist-ssr/
build/

# Local env configs and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor files and system files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
